# Python Lists
### Using a list

In [1]:
names = ["zoe","gerald","leo","henry"]
names.append("leonard") #adds to the back
print(names)

['zoe', 'gerald', 'leo', 'henry', 'leonard']

In [3]:
names.insert(2,"mike") #adds at position number 2
print(names)

['zoe', 'gerald', 'mike', 'mike', 'leo', 'henry', 'leonard']

In [4]:
del names[5] 			#deletes position number 5
print(names)

['zoe', 'gerald', 'mike', 'mike', 'leo', 'leonard']

In [5]:
popped_name = names.pop() #pop off the stack
print(names)

['zoe', 'gerald', 'mike', 'mike', 'leo']

In [6]:
print(popped_name)

leonard

In [7]:
first_name = names.pop(0) #pops off position number 0
print(names)

['gerald', 'mike', 'mike', 'leo']

In [8]:
print(first_name)

zoe

In [9]:
names.remove("leo")		#removes itme'leo' from list(only removes one occurence)
print(names)

['gerald', 'mike', 'mike']

In [10]:
cannot_dance = "gerald"
names.remove(cannot_dance)	#removes variable cannot_dance
print(names)

['mike', 'mike']

In [11]:
print(f"{cannot_dance.title()} can not dance!") #uses removed item

Gerald can not dance!

# Organising a list

In [12]:
animals = ["zebra","giraffe","monkey","lion","hippo","leopard"]
print(animals)

['zebra', 'giraffe', 'monkey', 'lion', 'hippo', 'leopard']

In [13]:
animals.reverse()		#reverses order of list
print(animals)

['leopard', 'hippo', 'lion', 'monkey', 'giraffe', 'zebra']

In [14]:
animals.sort()			#sorts animals alphabeticaly
print(animals)

['giraffe', 'hippo', 'leopard', 'lion', 'monkey', 'zebra']

In [15]:
animals.sort(reverse=True) #reverses the sort
print(animals)

['zebra', 'monkey', 'lion', 'leopard', 'hippo', 'giraffe']

In [16]:
print(sorted(animals))	#prints temp sorted list

['giraffe', 'hippo', 'leopard', 'lion', 'monkey', 'zebra']

In [17]:
print(animals)

['zebra', 'monkey', 'lion', 'leopard', 'hippo', 'giraffe']

In [19]:
print(len(animals)) #prints size of animal list

6

In [20]:
print(animals[-1])			#prints last item in list

giraffe

### working with lists

In [21]:
animals2 = ["zebra","giraffe","monkey","lion","hippo","leopard"]	#correct formation

In [22]:
for animal in animals:
	print(animal)		#prints \n animal

zebra
monkey
lion
leopard
hippo
giraffe

In [23]:
animal_names  = ["zoe","gerald","mike","leo","henry","leonard"]
for i in range(6):			#loops 6 times 
	print(f"{animal_names[i].title()} the {animals2[i].title()}")

Zoe the Zebra
Gerald the Giraffe
Mike the Monkey
Leo the Lion
Henry the Hippo
Leonard the Leopard

In [24]:
for value in range(1,5):	#starts at 1 finishes at 4 because range is -1
	print(value)

1
2
3
4

In [25]:
numbers = list(range(1,6))		#makes a list of numbers
print(numbers)

[1, 2, 3, 4, 5]

In [26]:
even_numbers = list(range(2,11,2))		# makes a list (start,stop-1,skips(eg.2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [27]:
squares = []
for value in range(1,11): #enters squared numbers into squares list	
	squares.append(value ** 2)		# ** means exponents
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
squares2 = [value**2 for value in range(1,11)]	# creates squares using for loop INSIDE list
print(squares2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
digits = [1,2,3,4,5,6,7,8,9,0]
print(min(digits))	#prints minimum digits

0

In [30]:
print(max(digits))	#prints maximum digits

9

In [31]:
print(sum(digits))	#prints sum of digits

45

In [32]:
print(animals2[0:3])	#SLICING print 0-3 elements in list

['zebra', 'giraffe', 'monkey']

In [33]:
print(animals2[3:6])	#SLICING print 3-6 elements in list

['lion', 'hippo', 'leopard']

In [34]:
animal_names2 = animal_names[:]		#copies entire list
print(animals2)

['zebra', 'giraffe', 'monkey', 'lion', 'hippo', 'leopard']

In [35]:
animal_names3 = animal_names2 		#points to animal_names2
animal_names3.append("turle")
print(animal_names2)

['zoe', 'gerald', 'mike', 'leo', 'henry', 'leonard', 'turle']

In [36]:
print(animal_names3)

['zoe', 'gerald', 'mike', 'leo', 'henry', 'leonard', 'turle']

In [37]:
print(animal_names)

['zoe', 'gerald', 'mike', 'leo', 'henry', 'leonard']

### tuples (tuples are constant lists)

In [38]:
dimensions = (200, 50)
print(dimensions[0])

200

In [39]:
print(dimensions[1])

50

In [40]:
#dimensions[0] = 250 #error cannot re-assign indevidual
dimensions = (250,100)	#can re-assign whol tuple
print(dimensions)

(250, 100)